<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Example</title>
<link rel="stylesheet" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div class="container">
		<img src="" class="profile" th:src="@{/image/Screenshot-1.png}" alt="" />
		<h1>Adding CSS, Javascript and Image in Thymeleaf</h1>
		<p>Thymeleaf and JSP (JavaServer Pages) are both server-side view templating engines that are used in Java-based web applications. While both of these technologies have their own strengths and weaknesses, Thymeleaf is considered to be a more modern and flexible solution compared to JSP.</p>
	</div>
	
	<script src="" th:src="@{/js/myjs.js}"></script>
</body>
</html>